@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
html{
    background-color: hsl(216, 53%, 9%);
    display: flex;
    width: 100%;
    flex-direction: column;
}
.intro{
    background-color:  hsl(217, 28%, 15%);
    width: inherit;
}
body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-links{
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.nav-links a{
    list-style: none;
    padding: 20px 30px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 500;
    font-family: Open Sans;
    text-decoration: none;
}
.nav-links a:hover{
    font-weight: 600;
    text-decoration: underline;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 1090px;
    align-items: center;
    background-image: url(bg-curvy-desktop.svg);
    background-color: hsl(217, 28%, 15%);
    background-repeat: no-repeat;
    background-position: bottom;
}
.hero-img{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hero-text{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0px;
    color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
}
.hero-text h1{
    font-size: 40px;
    font-weight: 700;
    width: 60vw;
    line-height: 1.5;
    font-family: Raleway;
    text-align: center;
    margin: 40px auto;
}
.hero-text p{
    font-size: 19px;
    font-weight: 400;
    font-family: Open Sans;
    text-align: center;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 20px;
    width: 45vw;
}
.hero-text button{
    width: 290px;
    height: 58px;
    background-image: linear-gradient(90deg,hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: 700;
    font-family: Raleway;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    
}
.mainbackground{
    background-color: hsl(218, 28%, 13%);
}
.featurescontainer{
    display: grid;
    grid-template-columns: auto auto;

}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    margin: 20px auto;
    align-items: center;
}
.features h2{
    font-size: 30px;
    font-weight: 700;
    font-family: Raleway;
    margin: 20px;
}
.features p{
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
    width: 440px;
}
.feature2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    margin: 20px auto;
    margin-top: 40px;
    padding: 30px;
    padding: auto;
    align-items: center;
}
.features2-img{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature2 h2{
    font-size: 30px;
    font-weight: 700;
    font-family: Raleway;
    margin: 20px;
    text-align: left;
    width: fit-content;
}
.features2-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    margin: 20px auto;
    margin-top: 40px;
    width:fit-content;
}
.feature2 p{
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
    margin-top: 0px;
    width: 600px;
    text-align: left;
}
.features2-text span{
    background: -webkit-linear-gradient(90deg, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Open Sans;
    margin-right: 0px;
    width: fit-content;
}
.features2-text a{
    display: flex;
    background: linear-gradient(hsl(218, 28%, 13%),hsl(218, 28%, 13%)) padding-box,
                linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%)) border-box;
    border-radius: 0px;
    border: 1px solid transparent;
    border-top: 1px solid hsl(218, 28%, 13%);
    border-left: 1px solid hsl(218, 28%, 13%);
    border-right: 1px solid hsl(218, 28%, 13%);
    margin: 20px;
    margin-top: 0px;
    outline:none;
    width: fit-content;
    text-decoration: none;
}
.features2-text a:hover{
    color: hsl(0, 0%, 100%);
    background: linear-gradient(hsl(218, 28%, 13%),hsl(218, 28%, 13%)) padding-box,
                linear-gradient(to right, white, white) border-box;

}
.features2-text span:hover{

    background: -webkit-linear-gradient(90deg, white,white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.features2-img:hover{
    color: hsl(0, 0%, 100%);
}
.testimonials{
    display: flex;
    flex-direction: row;
    background-image: url(bg-quotes.png);
    background-repeat: no-repeat;
    padding: 0px;
    padding-top: 10px;

    margin:30px ;
    
}
.testimonials-text{
    background-color:  hsl(219, 30%, 18%);
    margin: 20px;
    border-radius: 1px;
    box-shadow: 10px 10px 3px rgba(54, 54, 54, 0.158);
    padding: 30px;
    width: fit-content;
    height: fit-content;
}
.testimonials-text p{
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}
.testimonials-img{
    display: flex;
    justify-content: left;
    align-content: center;
}
.testimonials-img img{
    border-radius: 50%;
    width: 28px;
    height:28px;
    margin: 0px;
    margin-top: 3px;
}
.profile {
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    margin-left: 10px;
    padding: 0px;
}
.profile h5{
    font-size: 12px;
    font-weight: 800;
    font-family: Open Sans;
    margin: 0px;
    padding: 0px;
}
.profile p{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}
.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    margin: 30px auto;
    margin-bottom: 30px;
    width: fit-content;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.582);
    transform: translateY(100px);
}
.cta-text{
    font-family: Open Sans;
}
.cta-text h4{
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-family: Raleway;

}
.cta-text p{
    width: 740px;
    color: hsl(0, 0%, 100%);
    margin: 30px;
}
.cta-form input{
    width: 400px;
    height: 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 10px;
}
.cta-form button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin:0px;
    margin-bottom: 10px;
    padding: 10px;
    background-image:linear-gradient(90deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
}
.cta-form button:hover,.hero-text button:hover{
    background-image: none;
    background-color: hsl(176, 68%, 64%);
    cursor: pointer;
}
.cta span{
    display: none;
    color: hsl(0, 100%, 63%);
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    align-self: flex-start;
    margin: 10px;
    margin-left: 110px;
}
footer{
    
    background-color: hsl(216, 53%, 9%);
    display: flex;
    flex-direction: row;
}
.footer {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
    padding: 30px;
    transform: translateY(100px);
}
.footer-logo{
    padding: 10px;
    margin: 20px;
    align-self: flex-start;
}
.footer-logo span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
    width: 400px;
}
.footslinks{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}
.footer-links{
    align-items: left;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
}
.footer-links img{
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-left:0px ;
    padding: 0px;
}
.footer-links span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-family: Open Sans;
    width: fit-content;
}

.footer-links.loc img {
    margin-top: -28px;
    
}
.footer-links.loc p{
    width: 370px;
}
.footer-link{
    display: flex;
    flex-direction: column;
}
.footer-link a{
    text-decoration: none;
    font-family: Open Sans;
    font-size: 15px;
    margin: 10px;
    color: hsl(0, 0%, 100%);
}
.footer-link a:hover{
    font-weight: 600;
}
.socials .fa{
    padding: 8px;
    font-size: 14px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    border: hsl(0, 0%, 100%) solid 1px;
    margin: 2px;
}
.fa-facebook:hover{
    color: #3B5998;
    border: #3B5998 solid 1px;
}
.fa-twitter:hover{
    border: #55ACEE 1px solid;
    color: #55ACEE;
}
.fa-instagram:hover{
    background: linear-gradient(hsl(216, 53%, 9%), hsl(216, 53%, 9%)) padding-box,
                linear-gradient(to right,#833ab4,#fd1d1d,#fcb045) border-box;
    border: 1px solid transparent;
    outline:none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:800px){
    html{
        overflow-x: hidden;
        margin: 0px;
        padding: 0px;
    }
    .intro,.mainbackground,body{
        margin: 0px;
        padding: 0px;
    }
    .nav{
        padding-right: 0px;
    }
    .nav-links{
        margin: 0px;
    }
    .nav-links a{
        padding: 10px;
        margin: 5px;
        font-size: 15px;
    }
    .hero-img{
        width: 90vw;
    }
    .hero{
        width: 100vw;
        background-image: url(bg-curvy-mobile.svg);
        background-size: 190vw 120vh;
    }
    .hero-text{
        width: 90vw;
        margin: 0px;
        padding: 0px;
    }
    .hero-text h1{
        font-size: 30px;
        width: 80vw;
    }
    .hero-text p{
        width: 80vw;
    }
    .featurescontainer{
        grid-template-columns: auto;
    }
    .feature2{
        width: 80vw;
        flex-direction: column;
        margin: auto;
        padding: 0px;

    }
    .features2-img, .features2-img img{
        width: 80vw;
        margin: auto;
    }
    .features2-text{
        width: 80vw;
        margin: auto;
        margin-top: 40px;
        padding: 0px;
    }
    .features2-text h2{
        width:fit-content;
        margin-bottom: 20px;
        font-size: 23px;
    }
    .features2-text p{
        width: 70vw;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .features2-text a{
        margin-bottom: 20px;
        font-size: 17px;
    }
    .testimonials{
        flex-direction: column;
    }
    .testimonials-text{
        box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.082) ;
        border-radius: 5px;
    }
    .cta{
        width: 80vw;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        transform: translateY(200px);
    }
    .cta-text{
        width: fit-content;
        height: 250px;
        padding: 10px;
    }
    .cta-text h4{
        font-size: 27px;
        margin: 40px auto;
        width: fit-content;
    }
    .cta-text p{
        width: 70vw;
        margin: auto;
        margin-bottom: 0px;
        font-size: 17px;
    }
    .cta-form input{
        width: 50vw;
        height: 5vh;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
    }
    .cta-form button{
        width: 52vw;
        height: 8vh;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 0px;
    }
    .footer{
        flex-direction: column;
        align-items: left;
        padding: 20px;
        margin: 0px;
        transform: translateY(200px);
        height: fit-content;
    }
    .footslinks{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .footer-logo{
        margin: 0px;
        padding: 0px;
    }
    .footer-links{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .footer-links p{
        font-size: 17px;

    }
    .footer-links.loc p{
        width: 60vw;
        font-size: 18px;
    }
    .footer-link{
        margin-top: 30px;
    }
    .footer-link a{
        width: fit-content;
        font-size: 17px;
    }
    .socials{
        margin:40px auto;
        margin-top:60px;
    }
}